[submodule "home/.spacemacs.d/thirdparty/pdf-tools-org"]
	path = home/.spacemacs.d/thirdparty/pdf-tools-org
	url = https://github.com/machc/pdf-tools-org.git
[submodule "home/.spacemacs.d/thirdparty/org-impress-js.el"]
	path = home/.spacemacs.d/thirdparty/org-impress-js.el
	url = https://github.com/kinjo/org-impress-js.el.git
