[submodule "home/.spacemacs.d/thirdparty/pdf-tools-org"]
	path = home/.spacemacs.d/thirdparty/pdf-tools-org
	url = https://github.com/machc/pdf-tools-org.git
[submodule "home/.spacemacs.d/thirdparty/org-impress-js.el"]
	path = home/.spacemacs.d/thirdparty/org-impress-js.el
	url = https://github.com/kinjo/org-impress-js.el.git
[submodule "home/.spacemacs.d/thirdparty/org-reveal"]
	path = home/.spacemacs.d/thirdparty/org-reveal
	url = https://github.com/yjwen/org-reveal.git
[submodule "home/.spacemacs.d/thirdparty/dtk"]
	path = home/.spacemacs.d/thirdparty/dtk
	url = https://github.com/dtk01/dtk
[submodule "home/.spacemacs.d/thirdparty/org-re-reveal"]
	path = home/.spacemacs.d/thirdparty/org-re-reveal
	url = https://gitlab.com/oer/org-re-reveal.git
